{% extends 'forms/delete.html' %}
{% load tags %}

{% block breadcrumbs %}
<li><a href="{% url 'homepage' %}"><span class="icon is-small"><i class="fas fa-home" aria-hidden="true"></i></span></a></li>
<li><a href="{{ document.student_group.get_absolute_url }}">{{ document.student_group.name }}</a></li>
<li class="is-active"><a href="#" aria-current="page">Brisanje</a></li>
{% endblock breadcrumbs %}

{% block warning %}
Pobrisali boste skupino, ki ima {% pluralize group.students|length "učenca" "učenca" "učence" "učencev" %} in {% pluralize group.document_set.count "dokument" "dokumenta" "dokumente" "dokumentov" %}.
{% endblock warning %}
