{% extends 'main.html' %}
{% load tags %}

{% block breadcrumbs %}
<li><a href="{% url 'homepage' %}">Začetek</a></li>
<li class="is-active"><a href="#" aria-current="page">{{ group.name }}</a></li>
{% endblock breadcrumbs %}

{% block contents %}
<nav class="level">
    <div class="level-left">
    </div>

    <div class="level-right">
        <p class="level-item">
        <div class="field has-addons">
            <p class="control">
                <a class="button is-small" href="{% url 'students:edit_group' group.id %}">
                    <span class="icon is-small">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span>Uredi</span>
                </a>
            </p>
            <p class="control">
                <a class="button is-small is-danger is-outlined" href="{% url 'students:delete_group' group.id %}">
                    <span class="icon is-small">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span>Pobriši</span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <h1><small class="subtitle">Skupina</small> {{ group.name }}</h1>
                <p>
                    <small>
                        <span class="icon is-small"><i class="fas fa-user" aria-hidden="true"></i></span>
                        <span>{% pluralize group.students|length "učenec" "učenca" "učenci" "učencev" %}</span>
                    </small>
                </p>
            </div>
        </div>
    </article>
    {% block group_data %}
    <article class="media">
        <div class="media-content">
            <div class="content">
                <a href="{% url 'students:documents:create_document' group.id %}" class="button is-outlined">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>Nov dokument</span></a>
                </a>
            </div>
        </div>
    </article>
    {% for document in group.document_set.all %}
    {% include "documents/_document_media.html" with hide_group=True %}
    {% endfor %}
    {% endblock group_data %}
</div>
{% endblock contents %}