{% extends 'students/view_group.html' %}

{% block group_data %}
<div class="tabs">
    <ul>
        <li><a href="{{ group.get_absolute_url }}">Dokumenti</a></li>
        <li class="is-active"><a href="">Učenci</a></li>
    </ul>
</div>
<article class="media">
    <div class="media-content">
        <div class="content">
            <a href="{% url 'students:create_student' group.id %}" class="button is-outlined">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span>Nov učenec</span></a>
            </a>
        </div>
    </div>
</article>
{% for student in group.students.all %}
<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
                <strong>
                    {{ student.name }}
                </strong>
            </p>
            <small>
                <a href="{% url 'students:edit_student' group.id student.id %}">
                    <span class="icon is-small">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span>Uredi</span>
                </a>
                ·
                <a class="has-text-danger-dark" href="{% url 'students:delete_student' group.id student.id %}">
                    <span class="icon is-small">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span>Pobriši</span>
                </a>
            </small>
        </div>
    </div>
</article>
{% endfor %}
{% endblock group_data %}