<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
                <a href="{{ document.get_absolute_url }}">
                    <strong>{{ document.name }}</strong>
                </a>
                <br>
                <small>
                    <span class="icon is-small"><i class="fas fa-file-invoice" aria-hidden="true"></i></span>
                    <span>{{ document.sort.name }}</span>
                    ·
                    {% if not hide_group %}
                    <span class="icon is-small"><i class="fas fa-users" aria-hidden="true"></i></span>
                    <a href="{{ document.student_group.get_absolute_url }}">
                        {{ document.student_group.name }}
                    </a>
                    ·
                    {% endif %}
                    <span class="icon is-small"><i class="far fa-calendar-alt" aria-hidden="true"></i></span>
                    <span>{{ document.date }}</span>
                </small>
                {% if document.opis %}
            </p>
            {{ document.opis }}
            </p>
            {% endif %}
            </p>
        </div>
    </div>
</article>