{% extends 'form.html' %}

{% block breadcrumbs %}
<li><a href="{% url 'homepage' %}">Domov</a></li>
<li><a href="{{ document.student_group.get_absolute_url }}">{{ document.student_group.name }}</a></li>
<li><a href="{{ document.get_absolute_url }}">{{ document.name }}</a></li>
<li class="is-active"><a href="#" aria-current="page">Urejanje</a></li>
{% endblock breadcrumbs %}

{% block method %}POST{% endblock method %}

{% block title %}
Urejanje dokumenta
{% endblock title %}

{% block submit %}
Shrani
{% endblock submit %}