{% extends 'main.html' %}

{% block breadcrumbs %}
<li><a href="{% url 'homepage' %}">Domov</a></li>
<li><a href="{{ document.student_group.get_absolute_url }}">{{ document.student_group.name }}</a></li>
<li><a href="{{ document.get_absolute_url }}">{{ document.name }}</a></li>
<li class="is-active"><a href="#" aria-current="page">Predogled</a></li>
{% endblock breadcrumbs %}

{% block contents %}
<div class="content">
    <h2>{{ document.naslov }}</h2>
    <p>{{ document.opis }}</p>
    {% for file_name, file_contents in generated_files %}
    <h3><code>{{ file_name }}</code></h3>
    <blockquote>
        {{ file_contents }}
    </blockquote>
    <hr/>
    {% endfor %}
</div>
{% endblock contents %}
