{% extends 'main.html' %}

{% block contents %}
{% if documents %}
<ul>
    {% for document in documents %}
    <li>
        <a href="{% url 'documents:view_document' document.id %}">{{ document }}</a>
        <a href="{% url 'documents:edit' document.id %}">Uredi</a>
        <a href="{% url 'documents:delete' document.id %}">Pobriši</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Na voljo ni nobenih testov.</p>
{% endif %}
<a href="{% url 'documents:create' %}">Nov test</a>
{% endblock contents %}