{% extends 'main.html' %}

{% block contents %}
<div class="content">
    <h1 class="title">{{ document.name }}</h1>
    <h2 class="subtitle">
        {{ document.date }},
        <a href="{% url 'students:view_group' document.student_group.id %}">{{ document.student_group }}</a>
    </h2>

    {% if document.description %}
    <p>{{ document.description }}</p>
    {% endif %}

    <div class="field has-addons">
        <p class="control">
            <a class="button is-primary"
                href="{% url 'students:documents:generate' document.student_group.id document.id %}">
                <span class="icon is-small">
                    <i class="fas fa-download"></i>
                </span>
                <span>Prenesi nadlogo</span>
            </a>
        </p>
        <p class="control">
            <a class="button" href="{% url 'students:documents:edit_document' document.student_group.id document.id %}">
                <span class="icon is-small">
                    <i class="fas fa-edit"></i>
                </span>
                <span>Uredi</span>
            </a>
        </p>
        <p class="control">
        <form method="POST"
            action="{% url 'students:documents:delete_document' document.student_group.id document.id %}">
            {% csrf_token %}
            <button class="button is-danger is-outlined">
                <span class="icon is-small">
                    <i class="fas fa-trash"></i>
                </span>
                <span>Pobriši</span>
            </button>
        </form>
        </p>
    </div>

    {% for problem, data, rendered_text in document.problem_examples %}
    <h3>
        {{ forloop.counter }}. naloga
    </h3>
    <div class="field has-addons">
        <p class="control">
            <a class="button is-small"
                href="{% url 'students:documents:problems:edit_problem' document.student_group.id document.id problem.id %}">
                <span class="icon is-small">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
        </p>
        <p class="control">
        <form method="POST"
            action="{% url 'students:documents:problems:delete_problem' document.student_group.id document.id problem.id %}">
            {% csrf_token %}
            <button class="button is-small is-danger is-outlined">
                <span class="icon is-small">
                    <i class="fas fa-trash"></i>
                </span>
            </button>
        </form>
        </p>
    </div>
    {% include "problems/_rendered_text.html" %}
    {% endfor %}
</div>
<a class="button is-outlined"
    href="{% url 'students:documents:problems:choose_problem' document.student_group.id document.id %}">
    <span class="icon is-small">
        <i class="fas fa-plus"></i>
    </span>
    <span>Nova naloga</span>
</a>
{% endblock contents %}