{% load tags %}

<div class="field">
    {% if field.widget_type != "checkbox" %}
    <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% endif %}

    {% if field.widget_type == "textarea" %}
    {{ field|add_class:"textarea"|is_danger_if_errors}}
    {% elif field.widget_type == "select" %}
    <div class="select {% if field.errors %}is-danger{% endif %}">
        {{ field }}
    </div>
    {% elif field.widget_type == "selectmultiple" %}
    <div class="select is-multiple {% if field.errors %}is-danger{% endif %}">
        {{ field }}
    </div>
    {% elif field.widget_type == "checkbox" %}
    <label class="label" for="{{ field.id_for_label }}">
        {{ field }}
        {{ field.label }}
    </label>
    {% else %}
    <div class="control">
        {{ field|add_class:"input"|is_danger_if_errors }}
    </div>
    {% endif %}

    {% for error in field.errors %}
    <p class="help is-danger">{{ error }}</p>
    {% endfor %}

    {% if field.help_text %}
    <p class="help">{{ field.help_text }}</p>
    {% endif %}
</div>
