{% extends 'bulma.html' %}

{% block body %}
<div class="modal is-active">
    <form method="{% block method %}GET{% endblock method %}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{% block title %}{% endblock title %}</p>
                {% if request.META.HTTP_REFERER %}
                <a class="delete" aria-label="close" href="{{ request.META.HTTP_REFERER }}"></a>
                {% else %}
                <a class="delete" aria-label="close" href="{% url 'homepage' %}"></a>
                {% endif %}
            </header>
            <section class="modal-card-body">
                {% block form_body %}
                {{ form.as_ul }}
                {% endblock form_body %}
                {% csrf_token %}
            </section>
            <footer class="modal-card-foot">
                {% block actions %}
                <button class="button is-fullwidth is-primary">{% block submit %}Cancel{% endblock submit %}</button>
                {% endblock actions %}
            </footer>
        </div>
    </form>
</div>
{% endblock body %}