{% extends 'bulma.html' %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block css_import %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'formstyle.css' %}">
{% endblock css_import %}


{% block body %}
<div class="modal is-active">
    <form method="{% block method %}GET{% endblock method %}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{% block title %}{% endblock title %}</p>
                {% if request.META.HTTP_REFERER %}
                <a class="delete" aria-label="close" href="{{ request.META.HTTP_REFERER }}"></a>
                {% else %}
                <a class="delete" aria-label="close" href="{% url 'homepage' %}"></a>
                {% endif %}
            </header>
            <section class="modal-card-body">
                {% block form_body %}
                {{ form|crispy }}
                {% endblock form_body %}
                {% csrf_token %}
            </section>
            <footer class="modal-card-foot">
                {% block actions %}
                <button id="btn-cancel" type="reset" class="button is-fullwidth is-primary" onclick="javascript:history.back();">Nazaj</button>
                <button class="button is-fullwidth is-primary">{% block submit %}Potrdi{% endblock submit %}</button>
                {% endblock actions %}
            </footer>
        </div>
    </form>
</div>
{% endblock body %}
