{% extends 'main.html' %}

{% block contents %}
<div class="content">
    <h2>Dokumenti</h2>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th></th>
                <th>Ime</th>
                <th>Datum</th>
                <th>Skupina</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td><a href="{% url 'documents:view_document' document.id %}">{{ document.name }}</a></td>
                <td>{{ document.date }}</td>
                <td>{{ document.student_group }}</td>
                <td>
                    <div class="field has-addons">
                        <p class="control">
                            <a class="button is-small" href="{% url 'documents:generate' document.id %}">
                                <span class="icon is-small">
                                    <i class="fas fa-download"></i>
                                </span>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-small" href="{% url 'documents:edit_document' document.id %}">
                                <span class="icon is-small">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </p>
                        <p class="control">
                        <form method="POST" action="{% url 'documents:delete_document' document.id %}">
                            {% csrf_token %}
                            <button class="button is-small is-danger is-outlined">
                                <span class="icon is-small">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </button>
                        </form>
                        </p>
                    </div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th></th>
                <td>
                    <form action="{% url 'documents:create_document' %}">
                        {% csrf_token %}
                        <button class="button is-outlined">
                            <span class="icon is-small">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Nov dokument</span></button>
                    </form>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
Pozdravljeni!
{% endblock contents %}