{% extends 'main.html' %}
{% load tags %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block contents %}
<div class="content">
    <h3>Moje skupine</h3>
    {% for group in groups %}
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <a href="{{ group.get_absolute_url }}">
                        Skupina
                        <strong>{{ group.name }}</strong>
                    </a>
                    <br>
                    <small>
                        <span class="icon is-small"><i class="far fa-file" aria-hidden="true"></i></span>
                        <span>{% pluralize group.document_set.count "dokument" "dokumenta" "dokumenti" "dokumentov" %}</span>
                        ·
                        <span class="icon is-small"><i class="fas fa-user" aria-hidden="true"></i></span>
                        <span>{% pluralize group.students|length "učenec" "učenca" "učenci" "učencev"  %}</span>
                    </small>
                </p>
            </div>
        </div>
    </article>
    {% endfor %}
    <article class="media">
        <div class="media-content">
            <div class="content">
                <a href="{% url 'students:create_group' %}" class="button is-outlined">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>Nova skupina</span></a>
                </a>
            </div>
        </div>
    </article>

    <h3>Moji dokumenti</h3>
    {% for document in documents %}
    {% include "documents/_document_media.html" %}
    {% endfor %}
    <article class="media">
        <div class="media-content">
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>Nov dokument</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        {% for group in groups %}
                        <a href="{% url 'students:documents:create_document' group.id %}" class="dropdown-item">
                            {{ group.name }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
{% endblock contents %}