{% extends 'main.html' %}

{% block contents %}
<div class="content">
    <h2>Dokumenti</h2>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th></th>
                <th>Ime</th>
                <th>Datum</th>
                <th>Skupina</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td><a href="{% url 'students:documents:view_document' document.student_group.id document.id %}">{{
                        document.name }}</a></td>
                <td>{{ document.date }}</td>
                <td>{{ document.student_group }}</td>
                <td>
                    <div class="field has-addons">
                        <p class="control">
                            <a class="button is-small"
                                href="{% url 'students:documents:generate' document.student_group.id document.id %}">
                                <span class="icon is-small">
                                    <i class="fas fa-download"></i>
                                </span>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-small"
                                href="{% url 'students:documents:edit_document' document.student_group.id document.id %}">
                                <span class="icon is-small">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </p>
                        <p class="control">
                        <form method="POST"
                            action="{% url 'students:documents:delete_document' document.student_group.id document.id %}">
                            {% csrf_token %}
                            <button class="button is-small is-danger is-outlined">
                                <span class="icon is-small">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </button>
                        </form>
                        </p>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contents %}