{% extends 'bulma.html' %}

{% block body %}
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'homepage' %}">
            <strong>Nadlogar</strong>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Pomoč
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button" href="https://github.com/ul-fmf/nadlogar/">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                    </a>
                    <a class="button is-light" href="{% url 'logout' %}">
                        Odjava
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="section">
    <div class="container">
        <nav class="breadcrumb is-large" aria-label="breadcrumbs">
            <ul>
                {% block breadcrumbs %}
                {% endblock breadcrumbs %}
            </ul>
        </nav>
        {% block contents %}
        {% endblock contents %}
    </div>
</section>
{% endblock body %}