<ul>
    <li>Naslov: {{ test.naslov }}</li>
    <li>Datum: {{ test.datum }}</li>
    <li>Opis: {{ test.opis }}</li>
</ul>
<ul>
    {% for naloga in test.naloge.all %}
    <li>
        {{ naloga }}
        <a href="{% url 'naloge:podrobnosti' naloga.id %}">Podrobnosti</a>
        <a href="{% url 'naloge:uredi' naloga.id %}">Uredi</a>
        <a href="{% url 'naloge:pobrisi' naloga.id %}">Pobriši</a>
    </li>
    {% endfor %}
    <li>
        <a href="{% url 'naloge:izberi_tip' test.id %}">Dodaj nalogo</a>
    </li>
</ul>
<a href="{% url 'testi:uredi' test.id %}">Uredi test</a>
<a href="{% url 'testi:pobrisi' test.id %}">Pobriši test</a>
<a href="{% url 'testi:nadloga' test.id %}">Generiraj nadlogo.</a>
<a href="{% url 'testi:seznam' %}">Nazaj na seznam</a>
