{% extends 'main.html' %}

{% block breadcrumbs %}
<li><a href="{% url 'homepage' %}">Začetek</a></li>
<li><a href="{{ document.student_group.get_absolute_url }}">{{ document.student_group.name }}</a></li>
<li><a href="{{ document.get_absolute_url }}">{{ document.name }}</a></li>
<li class="is-active"><a href="#" aria-current="page">Nov problem</a></li>
{% endblock breadcrumbs %}

{% block contents %}
<div class="box">
    {% for content_type_id, rendered_text, description in content_types %}
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{ description.capitalize }}</strong>
                </p>
                {% include "problems/_rendered_text.html" %}
                <small>
                    <a
                        href="{% url 'students:documents:problems:create_problem' document.student_group.id document.id content_type_id %}">
                        <span class="icon is-small">
                            <i class="fas fa-arrow-circle-right"></i>
                        </span>
                        <span>Izberi</span>
                    </a>
                </small>
            </div>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock contents %}