{% extends 'main.html' %}

{% block breadcrumbs %}
<li><a href="{% url 'homepage' %}">Začetek</a></li>
<li><a href="{{ document.student_group.get_absolute_url }}">{{ document.student_group.name }}</a></li>
<li><a href="{{ document.get_absolute_url }}">{{ document.name }}</a></li>
<li class="is-active"><a href="#" aria-current="page">Nov problem</a></li>
{% endblock breadcrumbs %}

{% block contents %}
<form method="POST" class="box">
    {% include "_form.html" %}
    <div class="field">
        <label class="label" for="{{ field.id_for_label }}">Besedilo</label>
        <div class="control">
            {% for value, rendered_text in form.fields.text.choices %}
            <article class="media">
                <div class="media-left">
                    <label class="radio">
                        {% if form.initial.text == value %}
                        <input type="radio" name="{{ form.text.html_name }}" value="{{ value }}" checked>
                        {% else %}
                        <input type="radio" name="{{ form.text.html_name }}" value="{{ value }}">
                        {% endif %}
                    </label>
                </div>
                <div class="media-content">
                    <div class="content">
                        {% include "problems/_rendered_text.html" %}
                    </div>
                </div>
            </article>
            {% endfor %}
            <article class="media">
                <div class="media-left">
                    <label class="radio">
                        <input type="radio" name="{{ form.text.html_name }}">
                    </label>
                </div>
                <div class="media-content">
                    <div class="content">
                        {% include "_field.html" with field=form.question %}
                        {% include "_field.html" with field=form.answer %}
                    </div>
                    <div class="content help">
                        Pri pisanju besedila in rešitve so vam na voljo sledeči podatki:
                        <ul>
                            {% for key, value in example_data.items %}
                            <li><code>{% templatetag openbrace %}{{ key }}{% templatetag closebrace %}</code>: <code>{{ value }}</code></li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            </article>
        </div>
    </div>
    <button class="button is-primary">
        Ustvari
    </button>
</form>
{% endblock contents %}