{% extends 'problems/create_problem.html' %}

{% block breadcrumbs %}
<li><a href="{% url 'homepage' %}">Domov</a></li>
<li><a href="{{ problem.document.student_group.get_absolute_url }}">{{ problem.document.student_group.name }}</a></li>
<li><a href="{{ problem.document.get_absolute_url }}">{{ problem.document.name }}</a></li>
<li class="is-active"><a href="#" aria-current="page">Uredi problem</a></li>
{% endblock breadcrumbs %}

{% block title %}
Uredi problem
{% endblock title %}

{% block submit %}
Shrani
{% endblock submit %}
